- var flexcont = "text-center flex flex-col items-center gap-3";

- var gridcont = "m-6 xl:mx-48 2xl:mx-64 text-2xl text-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 auto-cols-min gap-6";
- var gridelem = flexcont;
- var elemtitle = "text-3xl flex items-center";
- var elemicon = "ml-3 inline iconify-inline";
