- var base = "/n7i.dev";

- var flexcont = "text-center flex flex-col items-center gap-3";
- var cont = "w-fit text-center mx-auto leading-normal"

- var linkscont = `${cont} text-2xl md:text-3xl`;
- var linkselem = "my-4 first:mt-0 last:mb-0";

- var conttitle = "mt-16 first:mt-0 text-3xl md:text-4xl font-bold text-terl dark:text-terd";
- var gridcont = "m-6 xl:mx-48 2xl:mx-64 mb-16 last:mb-6 text-xl md:text-2xl text-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 auto-cols-min gap-6";
- var gridelem = `${flexcont} text-secl dark:text-secd`;
- var elemtitle = "text-2xl md:text-3xl flex items-center text-on-bgl dark:text-on-bgd";
- var elemicon = "ml-3 inline iconify-inline";
