mixin head
  doctype html
  html(class="h-full" lang="en")
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width")

      link(href="https://fonts.googleapis.com", rel="preconnect")
      link(href="https://fonts.gstatic.com", rel="preconnect", crossorigin)
      link(
        href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Zen+Kaku+Gothic+New&display=swap",
        rel="stylesheet"
      )

      link(rel="stylesheet", href="/main.css")

    body(class="min-h-full bg-bgl dark:bg-bgd text-on-bgl dark:text-on-bgd font-zen text-2xl xl:text-3xl flex flex-col")
        block
