mixin header
  header(class="w-full mt-32 md:mt-44 mb-4 md:mb-10 font-poi text-5xl md:text-6xl lg:text-7xl overflow-hidden")
    div(class="w-full p-2 ml-20 sm:ml-32 md:ml-40 lg:ml-52 xl:ml-64 2xl:ml-80 bg-on-sur-varl dark:on-sur-vard")
      block
