mixin head(title)
  doctype html
  html(lang="en")
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width")
      meta(name="colorscheme" content="dark light")

      title #{ title ? `${title} - n7i.dev` : "n7i.dev" }
      meta(name="description" content="site of nanai.")
      meta(name="author" content="Nanai Jua")

      link(href="__css_href_inject__" rel="stylesheet")
      script(src="../iconify.ts")

    body(
      class="min-h-screen bg-bgl dark:bg-bgd text-on-bgl dark:text-on-bgd font-zen text-xl md:text-2xl xl:text-3xl flex flex-col"
    )
      block
