mixin header
  header(
    class="w-full mt-32 md:mt-44 mb-4 md:mb-10 font-poi font-bold text-5xl md:text-6xl xl:text-7xl overflow-hidden"
  )
    div(class="w-full p-2 ml-20 sm:ml-32 md:ml-40 lg:ml-52 xl:ml-64 2xl:ml-80 bg-sur-varl dark:bg-sur-vard text-on-sur-varl dark:text-on-sur-vard")
      block
