mixin header
  header(class="w-full mt-32 md:mt-44 mb-[2%] font-poi text-5xl md:text-6xl lg:text-7xl overflow-hidden")
    div(class="w-full p-2 ml-[20%] bg-on-sur-varl dark:on-sur-vard")
      block
