mixin layout
  div(class="h-32 md:h-44")

  header(class="w-full font-poi text-6xl flex mb-[2%] md:text-7xl lg:text-8xl")
    div(class="w-[20%]")
    div(class="p-2 w-full bg-on-sur-varl self-center dark:on-sur-vard")
      block
