mixin layout
  header(class="w-full mt-32 md:mt-44 font-poi text-6xl flex mb-[2%] md:text-7xl lg:text-8xl")
    div(class="ml-[20%] p-2 w-full bg-on-sur-varl self-center dark:on-sur-vard")
      block
