include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

- var navs = { about: base + "/about", skill: base + "/skill", hobby: base + "/hobby", gallery: base + "/gallery", contact: base + "/contact", link: base + "/link" };

+head
  +header
    span n#[+textprim 7]i.dev

  main
    ul(class=flexcont)
      each val, key in navs
        li
          a(href=val)= key

  +footer
