include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

- var navs = { about: "./about", skill: "./skill", hobby: "./hobby", gallery: "./gallery", contact: "./contact", link: "./link" };

+head
  +header
    span n#[+textprim 7]i.dev

  main
    ul(class=cont)
      each val, key in navs
        li
          a(href=val)= key

  +footer
